html {
	margin: 0;
	padding: 1px 0 0;
	background: white;
}

body {
	margin:30px auto;
	padding: 7px 30px 30px 30px;
	
	width: 860px;
	background: #f0f0f0;
	
	border-radius: 30px;
}

.chart-container {
	position: relative;
	padding-left: 40px;
}
.chart-container .chart {
	position: relative;
}

.chart-container .axis {
	position: absolute;
	
	top: 0;
    left: 0;
    width: 40px;
}
